body {
  background-image: linear-gradient(black, darkgreen, black);
  /* background-image: linear-gradient(black, gold, black); */
  /* background-image: linear-gradient(black, darkred, black); */
  color: whitesmoke;
  font-family: "Merriweather", serif;
}

.weather-card {
  /* background-color: rgba(2, 113, 133, 0.5); */
  background-color: rgba(144, 121, 144, 0.25);
  height: 308px;
  text-align: center;
  border-radius: 25px;
  overflow-x: auto;
  overflow-y: hidden;
}

.current-temp {
  margin: 0;
  display: inline-block;
  font-size: 72px;
}
.weather-icon {
  width: 75px;
  height: 75px;
  display: inline-block;
}

.daily-card {
  background-color: rgba(20, 200, 255, 0.1);
  width: 18%;
  height: 305px;
  margin: 0 2px;
  list-style: none;
  display: inline-block;
  /* border: 1px solid black; */
  border-radius: 15px;
  text-align: center;
}

.main-card {
  height: 400px;
  width: 100%;
  background-color: rgba(13, 104, 131, 0.26);
  /* background-color: rgba(144, 121, 17, 0.35); */
  /* margin: 20px 0 0 0; */
  border-radius: 25px;
  text-align: center;
}

.myNav {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.details-row {
  height: 30px;
}

.details-row:hover {
  height: 30px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
  text-align: left;
}

.footer {
  text-align: center;
  padding: 20% 0;
}
